/* (A) ENTIRE PAGE */
#cart-wrap * {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
#cart-wrap {
  display: inline-flex;
  margin: 0 auto;
  max-width: 1200px;
}
#cart-products { padding: 10px; }
#cart-products { flex-grow: 1; }
#cart-items { width: 180px; }
input.cart, button.cart {
  padding: 10px;
  border: 0;
  background: #3A3845;
  color:white ;
  font-weight: 700;
  cursor: pointer;
}

/* (B) PRODUCTS LIST */
#cart-products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px;
}
.p-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  background-color: #FAFDD6;
}
.p-img { max-width: 150px; }
.p-name, .p-price { font-weight: 700; }
.p-name, .p-desc, .p-price { margin: 5px 0; }
.p-name {
  font-size: 1.35em;
  text-transform: uppercase;
}
.p-desc {
  color: #7c7979;
  font-size: 0.9em;
}
.p-price { color: #e13d16; }
.p-add { width: 100%; 
background-color: #FAFDD6;}

/* (C) CURRENT SHOPPING CART */
#cart-items {
  background: ;
  color: #FAFDD6;
  border-radius: 5px;
}
.c-item {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.c-name, .c-total {
  font-size: 1.05em;
  font-weight: 700;
}
.c-name, .c-total { width: 100%;color: black; }
button.c-empty, button.c-checkout { width: 100%;color: white; }
.c-total, button.c-empty, button.c-checkout { margin-top: 10px; }
.c-del { width: 25%; }
.c-qty { width: 75%; }
.c-empty, .c-checkout { width: 100%; }

/* (D) RESPONSIVE */
@media screen and (max-width: 1028px) {
  #cart-products {
    grid-template-columns: 100%;
    text-align: center;
  }
}


/*styles.css*/
#title{
  background-color:#61B15A;
}

#empty{
  background-color: #FAFDD6;
  padding: 1% 2% 1%;
}
.container-fluid{
  padding: 1% 4% 0%;
}


}
h1{
  font-family: "Montserrat-Black";
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family:"Montserrat-bold";
  font-size: 1.5rem;
}
p{
  color: #8f8f8f;
}

.navbar{
  padding-bottom: 2.5rem;
}

.navbar-brand{
  font-family: "ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;

}
.title-image{
  width:20%;
  position: absolute;
}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color:#61B15A;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ADCE74;
}

#testimonials{
  background-color:#ADCE74;
  color:#fff;
  width: 100%;

  text-align: center;
}
h2{
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}

}
.testimonial-image{
  border-image-width: 100%;
  width: 100%;
  margin:0px;
}
#press{
  text-align: center;
    background-color:#ADCE74;
    text-align: center;
    padding-bottom: 5%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;

}
#products{
  padding:100px;
  text-align: center;
  background-color: #ADCE74;
}
.pricing-column{
  padding:2% 3%;
}
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    transform: rotate(0);
    position: static;
  }

}
#cta{
  text-align: center;
  background-color: #A2B29F;
  padding: 2% 15%;
  color: #fff;
}
.cta-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
#footer{
  background-color: #798777;
  padding: 7% 15%;
  text-align: center;

}
.download-button{
  margin: 19px 10px;
}
.social-icon{
  margin: 10px 10px;
}
