#title{
  background-color:#61B15A;
}

#empty{
  background-color: #FAFDD6;
  padding: 1% 2% 1%;
}
.container-fluid{
  padding: 1% 4% 0%;
}


}
h1{
  font-family: "Montserrat-Black";
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family:"Montserrat-bold";
  font-size: 1.5rem;
}
p{
  color: #8f8f8f;
}

.navbar{
  padding-bottom: 2.5rem;
}

.navbar-brand{
  font-family: "ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;

}
.title-image{
  width:20%;
  position: absolute;
}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color:#61B15A;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ADCE74;
}

#testimonials{
  background-color:#ADCE74;
  color:#fff;
  width: 100%;

  text-align: center;
}
h2{
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-olive{
  
  width: 640px;
  height: 360px;
  
}
#press{
  text-align: center;
    background-color:#ADCE74;
    text-align: center;
    padding-bottom: 5%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;

}
#pricing{
  padding:100px;
  text-align: center;
  background-color: #ADCE74;
}
.pricing-column{
  padding:2% 3%;
}
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    transform: rotate(0);
    position: static;
  }

}
#cta{
  text-align: center;
  background-color: #A2B29F;
  padding: 2% 15%;
  color: #fff;
}
.cta-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
#footer{
  background-color: #798777;
  padding: 7% 15%;
  text-align: center;

}
.download-button{
  margin: 19px 10px;
}
.social-icon{
  margin: 10px 10px;
}
.product-image{
  width: 70%;
}